<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>#MercrediFiction</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <header>
    <div class="banner">
      <h1>#MercrediFiction</h1>
      <p>Chaque mercredi, les mastonautes se réunissent autour du hashtag #MercrediFiction pour se raconter les histoires qu'ils inventent.</p>
      <p>Pour apparaître ici, postez simplement un pouet avec ce hashtag mercredi prochain !</p>
    </div>
    <form method="GET" action="/">
      <h2>Chercher une histoire</h2>
      <div class="search search-author">
        <label for="author">Auteur</label>
        <input name="author" list="author" autocomplete="off" value="{{request.args.author}}"/>
        <datalist id="author">
          {% for account in accounts %}
            <option value="{{ account.username }}"/>
          {% endfor %}
        </datalist>
      </div>
      <div class="search instance">
        <label for="instance">Instance</label>
        <input name="instance" list="instance" autocomplete="off" value="{{request.args.instance}}"/>
        <datalist id="instance">
          {% for instance in instances %}
            <option value="{{ instance.domain }}"/>
          {% endfor %}
        </datalist>
      </div>
      <div class="search search-content">
        <label for="search">Contenu</label>
        <input name="search" class="search-content-input" value="{{request.args.search}}"/>
      </div>
      <div class="search search-fullword">
        <label for="fullword" class="float">Mot complet</label>
        <input name="fullword" type="checkbox" {%if request.args.fullword %}checked{%endif%}>
      </div>
      <div class="search search-limit">
        <label for="limit">Nombre</label>
        <input type="number" name="limit" value="{{pagination.limit}}"/>
      </div>
      <div class="search-submit">
        <input class="btn colored" type="submit" name="epub" value="Livre numérique">
        <input class="btn colored" type="submit" value="Chercher">
      </div>
    </form>
  </header>
  <main>
    <nav>
      {% if pagination.previous %}
        <span class="previous"><a href="{{ pagination.previous|safe }}">← Précédent</a></span>
      {% endif %}
      Page {{ pagination.page }} sur {{ pagination.page_count }}
      {% if pagination.next %}
        <span class="next"><a href="{{ pagination.next|safe }}">Suivant →</a></span>
      {% endif %}
    </nav>
    <div class="toots">
      {% for toot in toots %}
        <div class="toot">
          <img src="{{toot.account.avatar}}" alt="{{toot.account.url}}">
          <div data-link="{{toot.url}}">
            <div class="author">
              {% if toot.account.display_name %}
                {{toot.account.display_name}} &mdash; <a href="{{toot.account.url}}">{{ toot.account.username }}</a>
              {% else %}
                <a href="{{toot.account.url}}">{{ toot.account.username }}</a>
              {% endif %}
              <span class="date">
                {{ toot.creation_date.strftime("Le %d/%m/%Y, &agrave; %H:%M")|safe }}
              </span>
            </div>
            <div class="content" onclick="window.location = '{{toot.url}}'">
              {{toot.content|safe}}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    <nav>
      {% if pagination.previous %}
        <span class="previous"><a href="{{ pagination.previous|safe }}">← Précédent</a></span>
      {% endif %}
      Page {{ pagination.page }} sur {{ pagination.page_count }}
      {% if pagination.next %}
        <span class="next"><a href="{{ pagination.next|safe }}">Suivant →</a></span>
      {% endif %}
    </nav>
    <footer>
      Sources disponibles sur <a href="https://github.com/Meewan/MercrediFiction">GitHub</a> &mdash; Design par <a href="https://github.com/Bat41">@Bat@unixcorn.xyz</a>
    </footer>
  </main>
  <script>
    document.onkeydown = function(event){
      if(event.keyCode === 37){
        window.location = "{{ pagination.previous|safe }}";
      }
      else if(event.keyCode === 39){
        window.location = "{{ pagination.next|safe }}";
      }
    };
  </script>
</body>
